apps/appdata/.expo/web/cache/
apps/appdata/android/app/.cxx/Debug/
apps/appdata/node_modules/
node_modules/
apps/web/.next/cache/
apps/appdata/android/app/build/
apps/appdata/android/app/.cxx/
apps/appdata/android/.gradle/
